body {
  font-family: tahoma;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.testimonial {
  /* background-color:#000 deixa o quadro onde esta escrito preto*/
  background-color: #fff;
  border: 2px solid #000;
  text-align: center;
  padding: 30px 30px 50px;
  margin: 100px 15px 160px;
  position: relative;
}

.testimonial::before,
.testimonial::after {
  content: "";
  border-top: 40px solid #fff;
  border-right: 125px solid transparent;
  position: absolute;
  bottom: -40px;
  left: 0;
}

.testimonial::after {
  border-right: none;
  border-left: 125px solid transparent;
  left: auto;
  right: 0;
}

.testimonial .testimonial-content {
  width: 100%;
  left: 0;
  position: absolute;
}

.testimonial .pic {
  display: inline-block;
  border: 4px solid white;
  border-radius: 50%;
  box-shadow: 0 0 4px 4px #9c0c16;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.testimonial .pic img {
  width: 100%;
  height: auto;
}

.testimonial .name {
  font-size: 15px;
  font-weight: bold;
  color: white;
  opacity: 0.2;
  text-transform: capitalize;
  margin: 10px 0 5px 0;
}

.owl-controls {
  margin-top: 20px;
}

.owl-pagination {
  display: flex;
  justify-content: center;
}

.owl-page {
  height: 10px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10%;
}

.owl-page:hover,
.owl-page.active {
  background-color: #db9b9f;
}

.owl-page:not(first-item) {
  margin-left: 10px;
}
