
/* definir tamanho maximo das imagens 
tempo de cada imagem
criar seta para passar slide */

/*Index.php*/
#containercolor{
	width: 100% !important;
	color: white;
	background: #9c0c16;
	background: -webkit-linear-gradient(left, #9c0c16 0%, #6a0f0f 100%);
	background: -webkit-gradient(linear, left top, right top, from(#9c0c16), to(#6a0f0f));
	background: -o-linear-gradient(left, #9c0c16 0%, #6a0f0f 100%);
    background: linear-gradient(to right, #9c0c16 0%, #6a0f0f 100%);
}

/*Index.php*/
.intro-section {
    text-align: center !important;
    color: white;
	background: #370d10;
	background: -webkit-linear-gradient(left, #89131c 0%, #360d10 100%);
	background: -webkit-gradient(linear, left top, right top, from(#89131c), to(#190d36));
	background: -o-linear-gradient(left, #89131c 0%, #360d10 100%);
	background: linear-gradient(to right, #89131c 0%, #360d10 100%);
}

.carousel-control-next-icon{
	background-color: transparent;
}.carousel-control-prev-icon{
	background-color: transparent;
}

#sobre{
	height: 180px;
	width: 850px;
	margin-left: 250px;
	text-align: justify;
}

.containertable{
	width: 100%;
}

#form{
	margin-left: 20%;
	margin-right: 20%;
}
.col-md-4{
	padding-bottom:20px;
}

.box21{text-align:center;position:relative;}
.box21:after,.box21:before{content:"";width:2px;height:2px;border-radius:50%;background:rgba(0,0,0,.35);position:absolute;top:48%;left:48%;-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0)}
.box21:hover:after,.box21:hover:before{-webkit-transform:scale(150);-moz-transform:scale(150);-ms-transform:scale(150);-o-transform:scale(150);transform:scale(120)}
.box21:before{-o-transition:all .5s linear .3s;-moz-transition:all .5s linear .3s;-ms-transition:all .5s linear .3s;-webkit-transition:all .5s linear .3s;transition:all .5s linear .3s}
.box21:hover:before{-moz-transition-delay:0s;-webkit-transition-delay:0s;-o-transition-delay:0s;-ms-transition-delay:0s;transition-delay:0s}
.box21:after{-o-transition:all .5s linear .6s;-moz-transition:all .5s linear .6s;-ms-transition:all .5s linear .6s;-webkit-transition:all .5s linear .6s;transition:all .5s linear .6s}
.box21:hover:after{-moz-transition-delay:.5s;-webkit-transition-delay:.5s;-o-transition-delay:.5s;-ms-transition-delay:.5s;transition-delay:.5s}
.box21 img{width:250px;height:20px border:2px solid transparent; border-radius:250px; padding-bottom:20px; margin-left:20%; margin-right:20%}
.box21 .box-content{width:50%;height:50%;position:absolute;top:0;left:0;background:0 0;color:#fff;padding-top:25px;-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);-ms-transition:all .3s linear 0s;-o-transition:all .3s linear 0s;-webkit-transition:all .3s linear 0s;-moz-transition:all .3s linear 0s;transition:all .3s linear 0s;z-index:1}
.box21:hover .box-content{margin-left: 110px; margin-top: 70px; -webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);-moz-transition-delay:.4s;-webkit-transition-delay:.4s;-o-transition-delay:.4s;-ms-transition-delay:.4s;transition-delay:.4s}
/*.box21 .title{font-size:21px;font-weight:700;text-transform:uppercase;border-bottom:1px solid #fff;padding-bottom:20px;margin-top:20px}*/
.box21 .description{font-size:14px;font-style:italic;padding:0 10px;margin:15px 0}
@media only screen and (max-width:990px){.box21{margin-bottom:30px}
}
@media only screen and (max-width:479px){.box21 .box-content{padding-top:0}
}
@media only screen and (max-width:359px){.box21 .title{padding-bottom:10px}
}

#carouselsem{
	height: 605px;
	width: 1000px;
}